body {
    font-family: monospace;
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

form textarea,
form input {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 300px;
    max-width: 600px;
    padding: 15px;
    font-size: 1.2em;
    font-family: monospace;
    box-shadow: inset 0 0 1.25rem #ddd;
    border: 1px solid #ddd;
    border-radius: .6rem;
}

form input {
    margin: 20px auto;
    height: 20px;
}

form textarea:focus,
input:focus {
    outline: none;
    box-shadow: inset 0 0 0.6rem #E36292;
    border: 0 none;
}

p {
    margin: 10px auto;
    padding-left: 3rem;
    max-width: 632px;
    font-size: 1.2em;
    color: #fff;
}

p>span {
    color: #e9bed3;
    font-weight: bold;
}

@media only screen and (max-width: 800px) {
    form textarea,
    form input {
        max-width: 400px;
    }
}
